<div class="banner_section">
  <img src="{{ 'banner_img.png' | asset_url }}" alt="banner_img" class="img-fluid w-100">
  <div class="banner_outer">
    <div class="container">
      <div class="banner_content">
        <h1>{{ 'STYLISH COMFORT & HYGIENE FOR A RANGE OF NEEDS.' }}</h1>
        <p>{{ 'Explore The Clean, Confident Lines And Innovative Performance Of Components® Kitchen Faucets.' }}</p>
        <div class="banner_btn">
          <a href="{{ '#' }}" class="site_btn">{{ 'SHOP NOW' }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
