<section>
  <div class="main_section main_products space_sec pt-0">
    <div class="container">
      <div class="main_outer">
        <div class="row">
          <div class="col-lg-6">
            <div class="main_block">
              <div class="main_img">
                <span>
                  <img src="{{ 'h_img5.png' | asset_url }}" alt="h_img1" class="img-fluid w-100">
                </span>
                <div class="main_btn">
                  <a href="#" class="site_btn w-100 text-center">ADD TO CART</a>
                </div>
              </div>
              <div class="mp_block">
                <h5>KITCHEN FAUCETS</h5>
                <p>CRAFTING UNIQUE NARRATIVES THROUGH LIMITED EDITION DROPS</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row block_btm">
              <div class="col-md-6">
                <div class="main_block">
                  <div class="main_img">
                    <span>
                      <img src="{{ 'h_img6.png' | asset_url }}" alt="h_img1" class="img-fluid w-100">
                    </span>
                  </div>
                  <div class="mp_block">
                    <h5>BATHROOM FAUCETS</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="main_block">
                  <div class="main_img">
                    <span>
                      <img src="{{ 'h_img3.png' | asset_url }}" alt="h_img1" class="img-fluid w-100">
                    </span>
                  </div>
                  <div class="mp_block">
                    <h5>BATHROOM FAUCETS</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="main_block">
                  <div class="main_img">
                    <span>
                      <img src="{{ 'h_img6.png' | asset_url }}" alt="h_img1" class="img-fluid w-100">
                    </span>
                  </div>
                  <div class="mp_block">
                    <h5>BATHROOM FAUCETS</h5>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="main_block">
                  <div class="main_img">
                    <span>
                      <img src="{{ 'h_img3.png' | asset_url }}" alt="h_img1" class="img-fluid w-100">
                    </span>
                  </div>
                  <div class="mp_block">
                    <h5>BATHROOM FAUCETS</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
