<div class="col-lg-3 col-md-6">
                                            
<div class="main_block">
    <div class="main_img">
        <span>
            {% if product.featured_image %}
                <img src="{{ product.featured_image | img_url: 'medium' }}" alt="h_img1" class="img-fluid w-100 img_show">
                <img src="{{ 'h_img2.png' | asset_url }}" alt="h_img2" class="img-fluid w-100 d-none img_hide">
               
            {% endif %}
        
        </span>
        <div class="main_btn">
        <a href="#" class="site_btn w-100 text-center">ADD TO CART</a>
        </div>
    </div>
    <div class="main_caption">
        <div class="rating_sec d-flex align-items-center">
        <span>4.5</span>
        <a href="#">20 Reviews</a>
        </div>
        <h4><a href="{{ product.url }}">{{ product.title }}</a></h4>
        <div class="main_price d-flex align-items-center">
        <div class="price_inline">
            <p>₹{{product.price |  money}} <span>MRP {{ product.compare_at_price | money}}</span></p>
            <div class="it_sec">Inclusive of all taxes</div>
        </div>
        <div class="discount_sec">
            <p>{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round }} % OFF</p>
        </div>
        </div>
    </div>
</div>

</div>