{% if page.handle == "about-us" %}


    <section>

        <div class="banner_section">
            <img src="{{ 'banner_img.png' | asset_url }}" alt="banner_img" class="img-fluid w-100">
        </div>

        <div class="about_content_section space_sec">
            <div class="container">
            <div class="content_section">
                <h2><span>About Us</span>Trendsetting Designs & Features for luxurious freedom:</h2>
                <div class="para_sec1">
                <p>It is our passion for refinement and quest for innovation in the realm of Bath and Kitchen Faucets that inspire us to create a brand named “Krystal” with trendsetting advanced features you always look forward to. It is also priced at an affordable price, so that more and more people can experience the advantage of this modern brand.</p>
                <p>Based in Delhi, our state-of-the-art production unit is equipped with the latest infrastructure to add value to every product. Our team is aware of modern-day lineage and committed to bringing out the best in their work. The result: a range of modern-day bath faucets, bathroom sets, single lever diverters, showers, kitchen faucets, and accessories… all that not only stand the test of time but symbolize the spirit of luxurious freedom.</p>
                <p>And with an eye for stringent quality parameters, we ensure you have a long-lasting bond with our brand. We also enrich our knowledge about the latest advancements in this field and strive to add more as per your demand and requirement.</p>
                <p>We are here to add more smooth sailing moments to your beautiful lifestyle.</p>
                </div>
            </div>
            <div class="blue_bg">
                <div class="row">
                <div class="col-lg-3">
                    <div class="blue_bg_head">
                    <h4>Our vision and mission</h4>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="para_sec1">
                    <p>It is our passion for refinement and quest for innovation in the realm of Bath and Kitchen Faucets that inspire us to create a brand named “Krystal” with trendsetting advanced features you always look forward to. It is also priced at an affordable price, so that more and more people can experience the advantage of this modern brand.</p>
                    <p>Based in Delhi, our state-of-the-art production unit is equipped with the latest infrastructure to add value to every product. Our team is aware of modern-day lineage and committed to bringing out the best in their work. The result: a range of modern-day bath faucets, bathroom sets, single lever diverters, showers, kitchen faucets, and accessories… all that not only stand the test of time but symbolize the spirit of luxurious freedom.</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="brand_value">
                <div class="brand_content_section">
                <h4>Our Brand Values</h4>
                <p>It is our passion for refinement and quest for innovation in the realm of Bath and Kitchen Faucets that inspire us to create a brand named “Krystal” with trendsetting advanced features you always look forward to. It is also priced at an affordable price, so that more and more people can experience the advantage of this modern brand.</p>
                </div>

                <div class="brand_outer">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                    <div class="main_block">
                        <div class="main_img">
                        <span><img src="{{ 'h_img1.png' | asset_url }}" alt="h_img1" class="img-fluid w-100"></span>
                        </div>
                        <div class="brand_caption">
                        <h4>Design</h4>
                        <p>It is our passion for refinement and quest for innovation in the realm of Bath and Kitchen Faucets that inspire us to create a brand named “Krystal” with trendsetting advanced features you always look forward to. It is also priced at an affordable price, so that more and more people can experience the advantage of this modern brand.</p>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                    <div class="main_block">
                        <div class="main_img">
                        <span><img src="{{ 'h_img1.png' | asset_url }}" alt="h_img1" class="img-fluid w-100"></span>
                        </div>
                        <div class="brand_caption">
                        <h4>Quality</h4>
                        <p>It is our passion for refinement and quest for innovation in the realm of Bath and Kitchen Faucets that inspire us to create a brand named “Krystal” with trendsetting advanced features you always look forward to. It is also priced at an affordable price, so that more and more people can experience the advantage of this modern brand.</p>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                    <div class="main_block">
                        <div class="main_img">
                        <span><img src="{{ 'h_img1.png' | asset_url }}" alt="h_img1" class="img-fluid w-100"></span>
                        </div>
                        <div class="brand_caption">
                        <h4>Sustainability</h4>
                        <p>It is our passion for refinement and quest for innovation in the realm of Bath and Kitchen Faucets that inspire us to create a brand named “Krystal” with trendsetting advanced features you always look forward to. It is also priced at an affordable price, so that more and more people can experience the advantage of this modern brand.</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

    </section>

{% elsif page.handle == "signup-and-login" %}

    <div class="about1_banner_section">
    <!-- <img src="images/banner_img.png" alt="banner_img" class="img-fluid w-100"> -->
        <div class="about1_banner_outer">
            <div class="container">
                <div class="about1_banner_content">
                    <h1>{{ 'WELCOME'  }}</h1>
                    <p>{{ 'Login/signup to your account'  }}</p>
                    <div class="login_btns d-flex align-items-center justify-content-center">
                        <a href="{{ routes.account_register }}">Register</a>
                        <a href="{{ routes.account_login }}">Login</a>
                    </div>
                    
                    <div class="create_account">
                        <h4>{{ 'CREATE AN ACCOUNT WITH YOUR MOBILE NUMBER'  }}<span>{{ 'Please Ensure You Provide A Valid Mobile Number.'  }}</span></h4>
                    </div>
                    <div class="input-group my-inp-grp mb-3">
                        <select class="input-group-text my-inp-text" id="basic-addon1">
                            <option selected>+91</option>
                            <option value="1">+91</option>
                            <option value="2">+92</option>
                            <option value="3">+93</option>
                        </select>
                        <input type="text" class="form-control my-form-inp" aria-label="Username" aria-describedby="basic-addon1" placeholder="{{ 'Enter your mobile number'  }}">
                    </div>
                    <div class="confirmation">
                        <p>{{ 'By Confirming, You agree to Our'  }} <a href="{{ 'terms' | link }}">Terms And Conditions</a> {{ 'And'  }} <a href="{{ 'privacy' | link }}">Privacy Policy</a></p>
                    </div>
                    <div class="banner_btn">
                        <a href="#" class="site_btn">{{ 'GET OTP'  }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% else %}
    <div class="under-development-message d-flex flex-column justify-content-center align-items-center min-vh-50 text-center bg-light py-5">
        <div class="p-4 p-md-5 m-3 shadow-lg rounded bg-white">
        <h1 class="display-5 display-md-4 text-danger mb-4">Page Under Development</h1>
        <p class="lead text-muted mb-4">This page is currently under development. Please check back later.</p>
        <a href="/" class="btn btn-primary btn-lg mt-3">Go Back to Homepage</a>
        </div>
    </div>

{% endif %}

